logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.target
/.metadata
/.cache
/.checkstyle
/.pmd
coverage/*
test-results.xml
/bin
/coverage
/reports
.scala_dependencies
*.sublime*
/conf/db.dev.properties
node_modules
public/bundles
.cache-main
.cache-tests