<!DOCTYPE html>

<html>

<head>
  <title>Cuca List</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
  <link rel="stylesheet" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")">
</head>

<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Handit</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Eventos <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Novo <span class="glyphicon glyphicon-plus pull-right"> </span></a></li>
              <li><a href="#">Ver Todos <span class="glyphicon glyphicon-list-alt pull-right"> </span></a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lucas Amaral <span class="glyphicon glyphicon-user"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Conta <span class="glyphicon glyphicon-pencil pull-right"> </span></a></li>
              <li><a href="#">Meus eventos <span class="glyphicon glyphicon-list-alt pull-right"> </span></a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Sair <span class="glyphicon glyphicon-off pull-right"> </span> </a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">Eventos Ocorrendo</div>
          <div class="panel-body">
            <div class="list-group">
              <a href="#" class="list-group-item">
                <div class="row">
                  <div class="col-md-10">
                    <h2 class="list-group-item-heading">Entrada no Startupsc</h2>
                    <h4 class="list-group-item-heading">Cuca de farofa, Cuca de Banana </h4>
                  </div>
                  <div class="col-md-2">
                      <div class="alert alert-warning">
                        <h4> 02/05/2016</h4>
                      </div>
                  </div>
                </div>
              </a>
              <a href="#" class="list-group-item">
                <div class="row">
                  <div class="col-md-10">
                    <h2 class="list-group-item-heading">Entrada no Startupsc</h2>
                    <h4 class="list-group-item-heading">Cuca de farofa, Cuca de Banana </h4>
                  </div>
                  <div class="col-md-2">
                      <div class="alert alert-warning">
                        <h4> 02/05/2016</h4>
                      </div>
                  </div>
                </div>
              </a>
              <a href="#" class="list-group-item">
                <div class="row">
                  <div class="col-md-10">
                    <h2 class="list-group-item-heading">Entrada no Startupsc</h2>
                    <h4 class="list-group-item-heading">Cuca de farofa, Cuca de Banana </h4>
                  </div>
                  <div class="col-md-2">
                      <div class="alert alert-warning">
                        <h4> 02/05/2016</h4>
                      </div>
                  </div>
                </div>
              </a>
              <a href="#" class="list-group-item">
                <div class="row">
                  <div class="col-md-10">
                    <h2 class="list-group-item-heading">Entrada no Startupsc</h2>
                    <h4 class="list-group-item-heading">Cuca de farofa, Cuca de Banana </h4>
                  </div>
                  <div class="col-md-2">
                      <div class="alert alert-warning">
                        <h4> 02/05/2016</h4>
                      </div>
                  </div>
                </div>
              </a>
              <a href="#" class="list-group-item">
                <div class="row">
                  <div class="col-md-10">
                    <h2 class="list-group-item-heading">Entrada no Startupsc</h2>
                    <h4 class="list-group-item-heading">Cuca de farofa, Cuca de Banana </h4>
                  </div>
                  <div class="col-md-2">
                      <div class="alert alert-warning">
                        <h4> 02/05/2016</h4>
                      </div>
                  </div>
                </div>
              </a>
              <a href="#" class="list-group-item">
                <div class="row">
                  <div class="col-md-10">
                    <h2 class="list-group-item-heading">Entrada no Startupsc</h2>
                    <h4 class="list-group-item-heading">Cuca de farofa, Cuca de Banana </h4>
                  </div>
                  <div class="col-md-2">
                      <div class="alert alert-warning">
                        <h4> 02/05/2016</h4>
                      </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">Cucas a pagar</div>
          <div class="panel-body">
            <div class="list-group">
              <a href="#" class="list-group-item">
                <div class="row">
                  <div class="col-md-10">
                    <h2 class="list-group-item-heading">Entrada no Startupsc</h2>
                    <h4 class="list-group-item-heading">Cuca de farofa, Cuca de Banana </h4>
                  </div>
                  <div class="col-md-2">
                      <button type="button" name="button" class="btn btn-success btn-block"> Pagar </button>
                  </div>
                </div>
              </a>
              <a href="#" class="list-group-item">
                <div class="row">
                  <div class="col-md-10">
                    <h2 class="list-group-item-heading">Entrada no Startupsc</h2>
                    <h4 class="list-group-item-heading">Cuca de farofa, Cuca de Banana </h4>
                  </div>
                  <div class="col-md-2">
                      <button type="button" name="button" class="btn btn-success btn-block"> Pagar </button>
                  </div>
                </div>
              </a>
              <a href="#" class="list-group-item">
                <div class="row">
                  <div class="col-md-10">
                    <h2 class="list-group-item-heading">Entrada no Startupsc</h2>
                    <h4 class="list-group-item-heading">Cuca de farofa, Cuca de Banana </h4>
                  </div>
                  <div class="col-md-2">
                      <button type="button" name="button" class="btn btn-success btn-block"> Pagar </button>
                  </div>
                </div>
              </a>
              <a href="#" class="list-group-item">
                <div class="row">
                  <div class="col-md-10">
                    <h2 class="list-group-item-heading">Entrada no Startupsc</h2>
                    <h4 class="list-group-item-heading">Cuca de farofa, Cuca de Banana </h4>
                  </div>
                  <div class="col-md-2">
                      <button type="button" name="button" class="btn btn-success btn-block"> Pagar </button>
                  </div>
                </div>
              </a>
              <a href="#" class="list-group-item">
                <div class="row">
                  <div class="col-md-10">
                    <h2 class="list-group-item-heading">Entrada no Startupsc</h2>
                    <h4 class="list-group-item-heading">Cuca de farofa, Cuca de Banana </h4>
                  </div>
                  <div class="col-md-2">
                      <button type="button" name="button" class="btn btn-success btn-block"> Pagar </button>
                  </div>
                </div>
              </a>
              <a href="#" class="list-group-item">
                <div class="row">
                  <div class="col-md-10">
                    <h2 class="list-group-item-heading">Entrada no Startupsc</h2>
                    <h4 class="list-group-item-heading">Cuca de farofa, Cuca de Banana </h4>
                  </div>
                  <div class="col-md-2">
                      <button type="button" name="button" class="btn btn-success btn-block"> Pagar </button>
                  </div>
                </div>
              </a>
              <a href="#" class="list-group-item">
                <div class="row">
                  <div class="col-md-10">
                    <h2 class="list-group-item-heading">Entrada no Startupsc</h2>
                    <h4 class="list-group-item-heading">Cuca de farofa, Cuca de Banana </h4>
                  </div>
                  <div class="col-md-2">
                      <button type="button" name="button" class="btn btn-success btn-block"> Pagar </button>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="@routes.Assets.at("jquery/jquery.min.js")"></script>
  <script src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")"></script>
</body>

</html>
