@main("Cuca List") {

    <div id="eventos-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="wrapper" id="page-wrapper">
          </div>
        </div>
      </div>
    </div>

    <script id="evento-list-template" type="x-tmpl-mustache">
        <section id="evento-error-display-section"></section>

        <section class="eventos-search-section eventos-base marginalized">
            <div class="eventos-search-bar">
                <input type="text" id="eventos-search-input eventos-search-bar" placeholder="Procurar Eventos" class="form-control">
            </div>
            <button id="evento-search-button">Pesquisar</button>
            <a id="novo-evento-button" class="btn btn-success pull-right btn-new-evento">Criar novo evento</a>
        </section>

        <section class="eventos-base marginalized">
            <h1>Eventos</h1>
            <section class="eventos-list-section">
                <ul id="eventos-list" class="list-group">
                    {{#eventos}}
                    <li class="list-group-item clearfix" data-id={{id}} data-titulo={{titulo}}>
                        <div class="row">
                            <div class="col-md-8">
                                Titulo: {{titulo}}
                            </div>
                            <div class="col-md-2 .up-bot-half-marginalized">
                                <a class="btn btn-info btn-block eventos-button-more btn-evento-detalhes"> Detalhes </a>
                            </div>
                            <div class="col-md-2 .up-bot-half-marginalized">
                                <button class="btn btn-danger btn-block eventos-button-remover"> Remover </button>
                            </div>
                        </div>
                    </li>
                    {{/eventos}}
                </ul>
            </section>
        </section>
    </script>

    <script id="evento-novo-template" type="x-tmpl-mustache">
      <section class="novo-evento-section marginalized">
        <h1>Novo Evento</h1>
        <div class="row eventos-base">
          <div class="col-md-6">
              <input type="text" class="form-control marginalized" placeholder="Titulo do evento" id="titulo-evento-input">
              <input type="text" class="form-control marginalized" placeholder="Descrição do evento" id="descricao-evento-input">
          </div>
          <div class="col-md-6">
              <input type="date" class="form-control marginalized" placeholder="Prazo do evento" id="date-evento-input">
          </div>
          <div class="col-md-4 pull-right">
            <div class="col-md-4 pull-right">
              <button class="btn btn-danger btn-block pull-right" id="btn-cancel-new-evento"> Cancelar </button>
            </div>
            <div class="col-md-4 pull-right">
              <button class="btn btn-success btn-block pull-right" id="btn-save-new-evento"> Salvar </button>
            </div>
          </div>
        </div>
      </section>
      <section id="evento-error-display-section"></section>
    </script>

    <script id="evento-detalhes-template" type="x-tmpl-mustache">
        <section id="evento-error-display-section"></section>
        <section class="eventos-base marginalized">
          <div class="row">
            <div class="col-md-6">
              <h1 class="marginalized">{{titulo}}</h1>
              <h5 class="marginalized">Prazo de término do evento: {{prazo}}</h5>
            </div>
            <div class="col-md-6">
              <div class="col-md-3">
                <button class="btn btn-danger btn-block" id="btn-voltar-evento"> Voltar </button>
              </div>
            </div>
          </div>
          <div class="row ">
            <div class="col-md-6 ">
              <div class="evento-description marginalized">Descrição: {{descricao}}</p>
            </div>
          </div>
        </section>
    </script>

    <script>
      App.Eventos = {};
    </script>

    <script src="@routes.Assets.at("page/page.js")"></script>
    <script src="@routes.Assets.at("moment/moment.js")"></script>
    <script src="@routes.Assets.at("javascripts/eventos/eventosService.js")"></script>
    <script src="@routes.Assets.at("javascripts/eventos/eventosTemplates.js")"></script>
    <script src="@routes.Assets.at("javascripts/eventos/eventosView.js")"></script>
    <script src="@routes.Assets.at("javascripts/eventos/eventosController.js")"></script>
    <script src="@routes.Assets.at("javascripts/eventos/eventosPrincipal.js")"></script>
}
