@main("Cuca List"){
	<div class="container-fluid">
		<div class="alert alert-success alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			Seu evento foi pago com sucesso
		</div>
		<div class="alert alert-info alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			Um novo evento foi criado.<a href="#" class="alert-link">Veja aqui.</a>
		</div>
		<div class="alert alert-warning alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			Um evento que você participa está perto de acabar e você não pagou todas as suas cucas.<a href="#" class="alert-link"><strong>Veja aqui.</strong></a>
		</div>
		<div class="alert alert-danger alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<strong>Um evento que você participava acabou e você não pagou todas as suas cucas!</strong>
		</div>
	</div>
}
