@main("Cuca List") {
  <div class="wrapper">
    <div class="container-fluid">
      <div class="row">
        <form class="user-login-form" action="/login" method="post">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Email" name="email">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Senha" name="password">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Fazer Login </button>
          </div>
          <div id="erro-message-section">
          @defining(flash.get("erro")) { mensagemDeErro =>
            @if(mensagemDeErro != null) {
                <!-- Abrindo alert com erro de autenticação -->
                <div class="alert alert-danger alert-dismissible">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  @mensagemDeErro
                </div>
            }
        }
        </form>
      </div>
    </div>
  </div>
}
