@(title: String)(content: Html)


<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE = edge">
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")">
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("css/styles.css")">
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("five-stars-rating/rating.min.css")">
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("selectize/css/selectize.css")">
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("selectize/css/selectize.bootstrap3.css")">
	<meta name="viewport" content="width = device-width, initial-scale = 1">
	<title>Home</title>

    <!--  Dependencias -->
<script>
	var App = {};
</script>

    <script src="@routes.Assets.at("jquery/jquery.min.js")"></script>
    <script src="@routes.Assets.at("underscore/underscore.js")"></script>
		<script src="@routes.Assets.at("selectize/js/standalone/selectize.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/utils/templates.js")"></script>
    <script src="@routes.Assets.at("five-stars-rating/rating.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/utils/showMessage.js")"></script>
    <script src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>

</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Nome Usuario</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="/">Home</a></li>
					<li><a href="/eventos">Eventos</a></li>
				<li><a href="/cucas">Cucas</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span><span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Minha Conta</a></li>
							<li><a href="#">Configurações</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Sair</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
@content
</body>

</html>
